<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Choix du mode de jeu - PathFinder</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css" rel="stylesheet">
</head>
<body class="vh-100" style="background-color: #f0f0e9;">

<!-- Bouton retour -->
  <a href="/" class="btn btn-outline-dark btn-lg px-3 py-2 position-absolute top-0 start-0 m-3">
    <i class="bi bi-arrow-left"></i> Retour
  </a>

<!-- Contenu principal -->
  <div class="container vh-100 d-flex flex-column justify-content-center align-items-center text-center">

    <!-- Titre -->
    <h2 class="mb-5 fw-bold" style="font-size: 3.5rem; padding-bottom: 1.5rem">Choix du mode de jeu</h2>

    <!-- Boutons de choix du mode de jeu -->
    <div class="d-grid gap-5 w-100" style="max-width: 650px;">
      <a href="/gameModePlayerVsPlayer" class="btn btn-primary btn-lg" style="padding: 1.5rem 2rem; font-size: 1.5rem;">Joueur contre joueur</a>
      <a href="/gameModePlayerVsComputer" class="btn btn-primary btn-lg" style="padding: 1.5rem 2rem; font-size: 1.5rem;">Joueur contre ordinateur</a>
    </div>
  </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

