body {
    background-color: #343a40; /* Couleur de fond sombre */
}

.card {
    border-radius: 10px;
    max-width: 800px;
    margin: auto;
}

h3, h4 {
    font-weight: bold;
}

.list-group-item {
    background-color: #f8f9fa;
    color: #212529;
}

.list-group-item .btn-outline-primary,
.list-group-item .btn-outline-danger {
    margin-left: 5px;
}

.btn-outline-primary:hover,
.btn-outline-danger:hover {
    background-color: #007bff;
    color: white;
}
