body {
    background-color: #343a40; /* Couleur de fond sombre */
}

.card {
    border-radius: 10px;
    max-width: 600px;
    width: 100%;
    margin: auto;
}

h3 {
    font-weight: bold;
}

.table {
    background-color: #f8f9fa;
}

.table-hover tbody tr:hover {
    background-color: #e9ecef;
}
