body {
    background-color: #343a40; /* Couleur de fond sombre */
}

.card {
    border-radius: 10px;
}

.history-list {
    overflow-y: auto;
    max-height: 300px;
}

.list-group-item {
    background-color: #f8f9fa;
    color: #212529;
}

h4, h5 {
    font-weight: bold;
}

h4 {
    text-align: right;
    font-style: italic;
}

h5 {
    margin-bottom: 15px;
}
